<!-- main content -->
<main id="main">
  <!-- body copy -->
  <div class="uw-row-full uw-pad-tb-l">
	<div class="uw-row">
	  <div class="uw-col uw-body">
		<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center">
		  You have successfully created a repair!
	  	</h2>
		<p class="uw-double-size-text">
			NEXT STEPS:
			<ul>
				<li>
					Stop by one of our <a href="https://techstore.wisc.edu/locations/">DoIT Tech Store locations</a> to drop off your computer.
				</li>
				<li>
					Mention that you created a repair online.
				</li>
				<li>
					If possible, we strongly recommend that you back up your data.
				</li>
				<li>
					<strong>Please bring your power adapter for any computers that are not Apple or Dell.</strong>
				</li>
			</ul>
		</p>
	  </div>
	</div>
  </div>
</main>
