<!-- main content -->
<main id="main">
  <!-- hero image -->
  <div class="uw-row-full">
	<div class="uw-hero">
	  <img src="https://placeholdit.imgix.net/~text?txtsize=84&amp;bg=666666&amp;txt=Hero Photo&amp;w=1550&amp;h=370" alt="Placeholder image for deomnstration">
	</div>
  </div>

  <!-- featured content cards -->
  <div class="uw-full-row uw-pad-tb-xl uw-light-grer-bg">
	<div class="uw-row">
	  <div class="uw-card">
		<div class="uw-card-content">
		  <a href="1"><img src="https://placeholdit.imgix.net/~text?txtsize=84&amp;bg=dbdbdb&amp;txt=Feature Item&amp;w=620&amp;h=310" alt="Placeholder image for deomnstration"></a>
		  <div class="uw-card-copy">
			<h2 class="uw-mini-bar"><a href="1">Feature Title</a></h2>
			<p>Short feature description could go here that highlights something you want to draw attention to.</p>
		  </div>
		</div>
	  </div>
	  <div class="uw-card">
		<div class="uw-card-content">
		  <a href="1"><img src="https://placeholdit.imgix.net/~text?txtsize=84&amp;bg=dbdbdb&amp;txt=Feature Item&amp;w=620&amp;h=310" alt="Placeholder image for deomnstration"></a>
		  <div class="uw-card-copy">
			<h2 class="uw-mini-bar"><a href="1">Feature Title</a></h2>
			<p>Short feature description could go here that magnifies the best things that you do.</p>
			</div>
		</div>
	  </div>
	  <div class="uw-card">
		<div class="uw-card-content">
		  <a href="1"><img src="https://placeholdit.imgix.net/~text?txtsize=84&amp;bg=dbdbdb&amp;txt=Feature Item&amp;w=620&amp;h=310" alt="Placeholder image for deomnstration"></a>
		  <div class="uw-card-copy">
			<h2 class="uw-mini-bar"><a href="1">Feature Title</a></h2>
			<p>Short feature description could go here that makes people smile.</p>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- stylized pull quote -->
  <div class="uw-full-row uw-pad-t-xl uw-pad-b-xl uw-red-bg">
	<div class="uw-row">
	  <div class="uw-col">
		<blockquote class="uw-stylized-quote uw-mini-bar uw-mini-bar-white uw-mini-bar-center">
		  Whatever may be the limitations which trammel inquiry elsewhere we believe the great state University of Wisconsin should ever encourage that continual and fearless sifting and winnowing by which alone the truth can be found.
		  <cite>1894 Ely trial committee final report</cite>
		</blockquote>
	  </div>
	</div>
  </div>

  <!-- body copy -->
  <div class="uw-row-full uw-pad-tb-l">
	<div class="uw-row">
	  <div class="uw-col uw-body">
		<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center">
		  Our Program
		</h2>
		<figure class="uw-float-right uw-float-25">
		  <img src="http://fillmurray.com/g/400/400" alt="Bill Murray">
		  <figcaption>Bill Murray was presented with the 2016 Mark Twain Prize. <span class="uw-credit">Photo: fillmurray.com</span></figcaption>
		</figure>

		<p class="uw-double-size-text">
		  Bigger display copy: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In architecto dolores id accusantium ipsam, ad error, harum. Beatae aperiam ab iusto quasi sapiente itaque aliquid non. Aspernatur voluptatum, repellat dignissimos.
		</p>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis modi, id reprehenderit non. Consectetur praesentium reiciendis sunt, perferendis dolor laboriosam dolores commodi nostrum blanditiis quibusdam minus, accusamus unde nihil eaque.
		</p>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, aut dolor blanditiis voluptate temporibus earum amet necessitatibus fugit cum repudiandae consectetur in fuga ad quasi quo, deleniti ratione tenetur eaque!
		</p>
	  </div>
	</div>
  </div>
</main>
