<!-- main content -->
<main id="main">
  <!-- hero image -->
  <div class="uw-row-full">
	<div class="uw-hero">
	  <img src="assets/img/bascom.jpg" alt="Placeholder image for deomnstration">
	</div>
  </div>
  <!-- body copy -->
  <div class="uw-row-full uw-pad-tb-l">
	<div class="uw-row">
	  <div class="uw-col uw-body">
		<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center">
		  Our Program
		</h2>
		<p class="uw-double-size-text">
			NEED HELP WITH YOUR COMPUTER?
		</p>
		<p>
			Just answer a series of questions so we can diagnose your computer.
	    </p>
		<div ng-controller="mainController">
			<button ng-click="startRepair()" class="uw-button">START A REPAIR</button>
		</div>
	  </div>
	</div>
  </div>
</main>
