<!-- main content -->
<main id="main">
  <!-- hero image -->
  <div class="uw-row-full">
	<div class="uw-hero">
	  <img src="https://placeholdit.imgix.net/~text?txtsize=84&amp;bg=666666&amp;txt=Hero Photo&amp;w=1550&amp;h=370" alt="Placeholder image for deomnstration">
	</div>
  </div>
  <!-- body copy -->
  <div class="uw-row-full uw-pad-tb-l">
	<div class="uw-row">
	  <div class="uw-col uw-body">
		<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center">
		  Our Program
		</h2>
		<p class="uw-double-size-text">
			NEED HELP WITH YOUR COMPUTER?
		</p>
		<p>
			Let us help you by starting a repair...
	    </p>
		<div ng-controller="mainController">
			<button ng-click="startRepair()" class="uw-button">START A REPAIR</button>
		</div>
	  </div>
	</div>
  </div>
</main>
