<!-- main content -->
<main id="main">
  <!-- body copy -->
  <div class="uw-row-full uw-pad-tb-l">
	<div class="uw-row">
	  <div class="uw-col uw-body">
		<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center">
		  You have successfully created a repair!
		</h2>
		<p class="uw-double-size-text">
			NEXT STEPS:
			<ul>
				<li>
					Stop by one of our DoIT Tech Store locations to drop off your computer.
				</li>
				<li>
					Mention that you created a repair online.
				</li>
				<li>
					If possible, we strongly recommend that you back up your data.
				</li>
				<li>
					Please bring your power adapter for any non-Apple/Dell computers
				</li>
			</ul>
	    </p>
	  </div>
	</div>
  </div>
</main>
