<!-- main content -->
<main id="main" ng-controller="questionController">

	<!-- Page title -->
	<div class="uw-row-full uw-row-page-title">
	<div class="uw-row">
	  <div class="uw-col">
		<h1 class="uw-mini-bar">
		  START A REPAIR
		</h1>
	  </div>
	</div>
	</div>

  <!-- Page content -->
  <div class="uw-full-row">
	<div class="uw-row uw-flex-reverse">

	  <!-- Body content -->
	  <div class="uw-col uw-body">
		<h2 class="uw-mini-bar">Module Description:</h2>
		<p>
		  This module will help us get an initial diagnostic on the issues that you are experiencing for the purposes of making a faster way to check-in computers to our repair team. Unfortunately,
		  this module will often not be able to reach a full diagnostic, but rather put us in a good place to move forward.
		</p>
		<h2 class="uw-mini-bar">Questions:</h2>
		<div >
			<div >
				{{ question_text }}
				<select ng-model="qa" style="margin-bottom: 25px" ng-options="x.answer_text for x in answers">

				</select>
				<button class="uw-button" style="margin-bottom: 25px" ng-click="handleAnswer()">Continue</button>
			</div>
		</div>
		<!--<p> Extra Content?</p> -->
	  </div>

	  <!-- Sidebar content -->
	  <aside class="uw-col uw-sidebar">
		<button class="uw-button-unstyle uw-side-nav-button"><svg aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use></svg> Select a section…</button>

		<!-- Sidebar nav -->
		<div class="uw-side-nav">
		  <ul>
			  <li><h3 style="padding: 16px; border-left: 4px; margin: 0px">Question History:</h3></li>
			  <li ng-repeat="y in question_data">
				   {{ y.q_sum }}
			  </li>
		  </ul>
		</div>

		<!-- Sidbar callout box -->
		<div class="uw-sidebar-box">
		  <h3>HAVE ANY QUESTIONS?:</h3>

		  <p>If you would like to troubleshoot your issue over the phone then please feel free to call the DoIT Help Desk</p>

		  <p>(608) 264-HELP (4357)</p>

		</div>

	  </aside>
	</div>
  </div>
</main>
