<table>

  <!-- If thisWeekDisplayed, loop through this week's info, otherwise loop through next week's info -->
  <div *ngIf="shifts">
    <tr>
      <div *ngFor="let day of (thisWeekDisplayed ? thisWeek : nextWeek)">
        <th>
            {{ generateDate(day.date) | date: 'fullDate' }}
        </th>
      </div>
    </tr>

    <tr>
      <div *ngFor="let day of (thisWeekDisplayed ? thisWeek : nextWeek)">
        <div *ngFor="let shift of day.timeslots">
          <td>
            <tr>
              <app-calendar-item
                [date] = "day.date"
                [time] = "shift.time"
                [agents] = "shift.agents"
                (submit) = "onSubmitted($event)"
              ></app-calendar-item>
            </tr>
          </td>
        </div>
      </div>
    </tr>
  </div>

</table>
