<!-- main content -->
<main id="main" style="padding-top:0px">
  <!-- body copy -->
	<div class="uw-row-full uw-pad-tb-l module" style="padding: 40px 0px; margin: 10px 0px;">
		<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center" style="margin-top:0px">
			DoIT Tech Store & Walk-In Help Desk
		</h2>
		<div class="uw-row-full">
			<div class="uw-hero" >
			<img src="assets/img/bascom.jpg" alt="Placeholder" class="shadow">
			</div>
		</div>
	</div>
	<div class="uw-row-full uw-pad-tb-l module" style="padding: 40px 0px; margin-top: 20px;">
		<div class="uw-row">
			<div class="uw-col uw-body uw-text-center" style="padding:0px">
				<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center" style="margin-top:0px">
					NEED HELP WITH YOUR COMPUTER?
				</h2>
				<p>
					Schedule an appointment at our DoIT Tech Store at 1210 W Dayton St
					to get help with your computer!
				</p>
				<div ng-controller="mainController">
					<button ng-click="startAppt()" class="uw-button">SCHEDULE AN APPT</button>
				</div>
			</div>
		</div>
	</div>
	<div class="uw-row-full uw-pad-tb-l module" style="padding: 40px 0px; margin-top: 20px;">
		<div class="uw-row">
			<div class="uw-col uw-body uw-text-center" style="padding:0px">
				<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center" style="margin-top:0px">
					Don't have a Net-Id?
				</h2>
				<p>
					Contact our DoIT Help Desk and we will help you schedule an appointment!
				</p>
				<p class="contact-card">
					Email: help@doit.wisc.edu <br>
					Phone: (608) 264-HELP (4357)
				</p>
			</div>
		</div>
	</div>
</main>
