<div style="width: 100%;" ng-controller="adminController">
	<div class="module">
		<h2 class="uw-mini-bar" style="margin-top: 20px" >Appointments for unsupported customers:</h2>
		<h3>Create an appointment for a customer without a netid by clicking the button below.</h3>
		<button class='button-active' style="margin-top: 10px;" ng-click="start_appt()"> Create Appt </button>
	</div>
	<div class="module">
		<h2 class="uw-mini-bar" style="margin-top: 20px" >Appointments:</h2>
		<div layout-gt-xs="row">
			<div flex-gt-xs>
				<h3 style="margin-left: 10px;">Begin Date</h3>
				<md-datepicker ng-model="begin" md-placeholder="Enter Start Date"></md-datepicker>
			</div>

			<div flex-gt-xs>
				<h3 style=" margin-left: 10px;">End Date:</h3>
				<md-datepicker ng-model="end" md-placeholder="Enter End Date"></md-datepicker>
			</div>
		</div>
		<button class='button-active' style="margin-top: 10px;" ng-click="submit_times()"> Search </button>
		<div style="margin-top: 30px;">
			<div ng-repeat="appt in appts">
				<h3 style="margin: 0px;">Net ID: {{ appt.net_id }}</h3>
				<h3 style="margin: 0px;">Appointment: {{ appt.time }} on {{ appt.date }} with {{ appt.appt_agent }}</h3>
				<p style="color: gray; max-height: 6em; line-height: 1.2em; overflow: auto;">{{ appt.description }}</p>
			</div>
		</div>
	</div>
</div>
