<div style="width: 100%;">
	<div class="module">
		<h2 class="uw-mini-bar">Data Transfer Authorization</h2>
		<p>
			The DoIT Tech Store will perform a data transfer from an old computer to a newly purchased computer.
			The old machine must be working without issue. Standard turnaround time for this process is 1 business day.
			During the Customer Appreciation Sale, we will not be able to guarantee this speed due to the high expected volume.
			<br><br>
			This service will transfer all user data files from the old computer to the new computer.
			In many cases, this process will not transfer software programs due to licensing, registration and incompatibility complications.
			Please note that if your old computer has more data than your new computer’s hard drive can contain, we will need you to identify the file types that you most want to have transferred (e.g. pictures, documents, or PDFs), and this may add time to the process.
			<br><br>
			Once work is complete on your computer a technician will notify you that it is ready for pickup.
			When you come to pick up the machine, please bring a photo ID so that we can verify your identity.
			<br><br>
			By signing this agreement, you agree to leave your computer in our possession for the duration of the data transfer.
			Customer computers will be kept in a secure location and a WiscIT case will be created.
			<br><br>
			Passwords: A password or an administrator account with a reset password is needed for data transfers.
		</p>
		<button class="uw-button" ng-click="save_descrip()">Continue</button>
	</div>
	<div style="padding: 20px 0px"></div>
</div>
