<h2 class="uw-text-center uw-mini-bar uw-mini-bar-center">
  Success!
</h2>
<p>
	{{header_message}} <br></br> <strong>Next Steps:</strong>
	<ul>
		<li>
			Stop by one of our <a href="https://techstore.wisc.edu/locations/">DoIT Tech Store locations</a>
		</li>
		<li>
			If possible, we strongly recommend that you back up your data. For more information on backing up your data, checkout <a href="https://kb.wisc.edu/20504">the UW KnowledgeBase</a>.
		</li>
		<li>
			<strong>Please bring your power adapter for any computers that are not Apple or Dell.</strong>
		</li>
	</ul>
</p>
