<div class="module" style="width:100%">
	<form id="main" style="padding: 0px 50px; width:100%" ng-controller="apptController">
		<fieldset>
			<legend>Tell us about you:</legend>
			<div class="uw-input-row">
				<label for="net-id">NetID</label>
				<input type="text" id="net-id" ng-required="true" ng-model="netId" required="required">
			</div>
			<div class="uw-input-row">
				<label for="email">Email</label>
				<input type="email" id="email" ng-required="true" ng-model="email" required="required">
			</div>
			<div class="uw-input-row">
				<label for="tel">Phone Number</label>
				<input type="tel" id="tel" ng-required="true" ng-model="tel" required="required">
			</div>
			<div class="uw-input-row">
				<label for="select">Preferred Contact Method</label>
				<select name="contactPref" id="contactPref" ng-required="true" ng-model="contactPref" required="required">
				<option value="Email">Email</option>
				<option value="Phone">Phone Call</option>
				<option value="Text">Text</option>
				</select>
			</div>
		</fieldset>

		<button class="uw-button" ng-click="save_user()">Continue</button>
	</form>
</div>
<div style="padding: 20px 0px"></div>
