<!-- main content -->
<main id="main" ng-controller="schedController" style="width:100%">
	<!-- body copy -->
	<div class="uw-row-full uw-pad-tb-l">
		<div class="uw-row">
			<div class="uw-col uw-body">
				<div style="width: 90%;">
					<h2>Schedule an 30-minute appointment that works for you by clicking on a green timeslot:</h2>
					<button ng-if="this_week" ng-click="toggle_week()" class="uw-button" style="margin:10px; float:right;">Next Week ></button>
					<button ng-if="!this_week" ng-click="toggle_week()" class="uw-button" style="margin:10px; float:right;">< This Week</button>
					<table style="margin:auto;width: 100%;">
						<thead>
							<tr>
								<td class="cell title" ng-repeat="col in cols">{{col[0]}} <br> {{col[1]}}</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in cells track by $index">
								<td class="cell title">{{row[0].time | time }}</td>
								<td class="cell time" ng-repeat="item in row"><button class="linker" style="font-size:110%" ng-class="{'open': item.active==true,'closed': item.active==false}" ng-click="item.book_appt(item)">{{ item.day }} {{ item.time | time }}</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>
