.tab {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
  border-bottom:1px solid white;
  margin: 20px 0px;
  padding: 0px 10px;
  margin-bottom:-1px;
  position:relative;
  width:fit-content;
}

.code {
  color: black;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border: 1px solid black;
  display: inline-block;
  width: 100%;
}
.code ol {
  list-style: none;
  margin: 0px;
  padding: 10px;
}
.code ol:before {
  counter-reset: listing;
}
.code ol li {
  counter-increment: listing;
  margin: 0px;
}
.code ol li::before {
  content: counter(listing) "  ";
  margin-right: 10px;
  color: gray;
}

.code ol li {
  margin-bottom: 0px;
}

.terminal {
  color: white;
  background-color: black;
  width: 100%;
}

.terminal ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.terminal li {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.terminal li:before {
  content: "$";
  padding-right: 5px;
}

.terminal-out {
  color: white;
  background-color: black;
  width: 100%;
}

.terminal-out ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.terminal-out li {
  list-style: none;
  margin: 0px;
  padding: 0;
}

span.indent {
  padding-left: 20px;
}

.tutorial-menu{
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.tutorial-menu li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}
.tutorial-menu button:hover{
  border-bottom: 3px solid black;
}
