.cell {
  /*background-color: #70DB70;*/
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-bottom: 1px solid  #ddd;
  border-right: 1px solid  #ddd;
  text-align: center;
}

.cell.unavail {
  padding: .5%;
  text-align: center;
}

.cell.title{
	font-weight: bold;
	color: #c5050c;
}

main {
	padding-top:30px;
}
/* HEADER ===================== */
header
	.navbar {
		border-radius:0;
	}
/* ANIMATIONS ====================== */
.spinner {
animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}
@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg); }
	to { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform:rotate(0deg); }
	to { -moz-transform:rotate(360deg); }
}

.highlight {
	background-color: #c5050c;
}

.highlight a {
	color: white;
}
