.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.cell.title:last-child {
  border-right: 0px;
}

.cell.time {
  padding: .5%;
  text-align: center;
}

.cell.title{
	background: white;
	border-right: 1px solid  darkgray;
	text-align: center;
	font-weight: bold;
	color: #c5050c;
}

.ts-logo-jpg {
  width: 200px;
}
.doit-site-title{
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.0rem;
  line-height: 0.9;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 1px;
  margin-bottom: .1rem;
  color: #c5050c;}
  doit-site-title.style {
    margin-left: 10px;
  }
    .doit-site-title a:hover {
      text-decoration: none; }


main {
	padding-top:30px;
}
/* HEADER ===================== */
header
	.navbar {
		border-radius:0;
	}
/* ANIMATIONS ====================== */
.spinner {
animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}
@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg); }
	to { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform:rotate(0deg); }
	to { -moz-transform:rotate(360deg); }
}

.highlight {
	background-color: #c5050c;
}

.highlight a {
	color: white;
}

.button-active {
	background-color: rgba(197, 5, 12, .75);
	color: white;
	display: inline-block;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	      border-radius: 0;
	position: relative;
	padding: 4px 4px;
	padding: .3rem .3rem;
	font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-size: .775rem;
	font-weight: 700;
	text-transform: uppercase;
	height: 80%;}
.button-active:hover {
	background-color: rgba(150, 5, 12, .75); }

a.button-active:hover {
  	text-decoration: none; }

.button-inactive {
	background-color: lightgray;
	color: white;
	display: inline-block;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	        border-radius: 0;
	position: relative;
	padding: 4px 4px;
	padding: .3rem .3rem;
	font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-size: .775rem;
	font-weight: 700;
	text-transform: uppercase; }

a.button-inactive:hover {
  text-decoration: none; }

.shadow {
	-webkit-box-shadow: 0px 8px 6px -6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 8px 6px -6px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 8px 6px -6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	position:relative;
	z-index:2;
}
.module {
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.contact-card {
	display:inline-block;
	border: 2px solid gray;
	background-color: lightgray;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.module-small {
  background-color: white;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
}
main {
	padding-top: 0px;
}



.tab {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
  border-bottom:1px solid white;
  margin: 20px 0px;
  padding: 0px 10px;
  margin-bottom:-1px;
  position:relative;
  width:fit-content;
}

.code {
  color: black;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border: 1px solid black;
  display: inline-block;
  width: 100%;
}
.code ol {
  list-style: none;
  margin: 0px;
  padding: 10px;
}
.code ol:before {
  counter-reset: listing;
}
.code ol li {
  counter-increment: listing;
  margin: 0px;
}
.code ol li::before {
  content: counter(listing) "  ";
  margin-right: 10px;
  color: gray;
}

.code ol li {
  margin-bottom: 0px;
}

.terminal {
  color: white;
  background-color: black;
  width: 100%;
}

.terminal ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.terminal li {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.terminal li:before {
  content: "$";
  padding-right: 5px;
}

.terminal-out {
  color: white;
  background-color: black;
  width: 100%;
}

.terminal-out ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.terminal-out li {
  list-style: none;
  margin: 0px;
  padding: 0;
}

span.indent {
  padding-left: 20px;
}

.tutorial-menu{
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.tutorial-menu li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}
.tutorial-menu button:hover{
  border-bottom: 3px solid black;
}
