/* app css stylesheet */
body {
 font-family:helvetica,arial,geneva,sans-serif;
 color:#000000;
 /*background: #CACCBD;*/
 margin: 0;
 font-size:12px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu {
  margin: 0;
  /*background-color: #990000;
  background-image: url("images/navbackground.png");*/
  height: auto;
  width: auto;
  /*background-image: url("./images/nav-bg.png");*/
  padding: 2.5% 0;
}
.menu > li {
  padding: 7% 0;
  display: inline;

}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.menu li a:link, .menu li a:visited {
  display: inline-block;
  width: auto;
  text-decoration: none;
  margin: 0 auto;
  color: white;
  background-color: black;
  padding: 14px 25px;
  text-align: center;
}

.menu li a:hover {
  color: red;
}

#wrapperU {
  text-align: center;
}

.intro p {
  font-size: 200%;
  width: 55%;
  margin: 0 auto;
}

div.outer {
  width: 100%;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}


div.middle {
  display: table-row;
  width: auto;
  margin-left: 35%;

}

div.middle .inner button {
  margin-left: 35%;
}

div.inner {

  margin: 12% auto;
  display: table-cell;
  text-align: center;
}

div.inner .devicetype {
  width: 32%;
}

div.inner button {
  display: block;
  border-radius: 5%;
  font-size: 150%;
  width: auto;
  text-decoration: none;
  margin: 7.5% 4%;
  color: black;
  background-color: white;
  padding: 14px 25px;
}

div.inner button.grayed {
  display: table-cell;
  border-radius: 5%;
  font-size: 150%;
  width: auto;
  text-decoration: none;
  margin: 7.5% 4%;
  color: gray;
  opacity: 0.1;
  background-color: gray;
  padding: 14px 25px;
}

div.inner button.grayed:hover {
  opacity: 1.0;
  display: table-cell;
  border-radius: 5%;
  font-size: 150%;
  width: auto;
  text-decoration: none;
  margin: 7.5% 4%;
  color: #d8534e;
  background-color: white;
  padding: 14px 25px;
  box-shadow: 0px 0px 20px #888888;
}

div.inner button:hover {
  color: #d8534e;
  box-shadow: 0px 0px 20px #888888;
}

div.laptop-desktop {
  display: none;
}

div.repair-type {
  display: none;
}

div.mobile-type {
  display: none;
}

div.mobile-type .inner button {
  background-color: #d8534e;
  color: black;
  margin-left: 35%;
  text-align: center;
  display: block;
  width: 32%;
  border-radius: 5%;
/* background-color: #d8534e;
 display: block;
 width: 32%;*/
}
div.mobile-type .inner button.grayed {
  background-color: #d8534e;
  color: black;
  margin-left: 35%;
  text-align: center;
  display: block;
  width: 32%;
  border-radius: 5%;
/* background-color: #d8534e;
 display: block;
 width: 32%;*/
}

div.mobile-type .inner button:hover {
  color: white;
  box-shadow: 0px 0px 20px #888888;
}
div.mobile-type .inner button.grayed:hover {
  color: white;
  box-shadow: 0px 0px 20px #888888;
}

div.laptop-desktop .inner button {
  background-color: #d8534e;
  color: black;
  margin-left: 35%;
  text-align: center;
  display: block;
  width: 32%;
  border-radius: 5%;
}

div.laptop-desktop .inner button.grayed {
  background-color: #d8534e;
  color: black;
  margin-left: 35%;
  text-align: center;
  display: block;
  width: 32%;
  border-radius: 5%;
}

div.laptop-desktop .inner button:hover {
  color: white;
  box-shadow: 0px 0px 20px #888888;

}
div.laptop-desktop .inner button.grayed:hover {
  color: white;
  box-shadow: 0px 0px 20px #888888;

}
div.repair-type .inner button {

  margin-left: 35%;
  text-align: center;
  display: block;
  width: 32%;
  border-radius: 5%;
}

form.input-section {
  /*background-color: black;*/
  display: none;
  width: 60%;
  clear: both;
  text-align: left;
  /*height: 30%;*/
  margin-left: auto;
  margin-right: auto;
  /*margin: 0 auto;*/
}



div.user-information {
  display: inline-block;
  width: 38%;
  float: left;
}

div.appointment-description {
  display: inline-block;
  width: 48%;
  float: right;
}

#description {
  display: inline-block;
  width: 100%
}

#user-name {
  color: black;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

button.grayed {
  background-color: gray;
  color: gray;
  display: none;
}

div.week {
  display: none;
  /*background-color: black;*/
  margin-left:auto;
  margin-right:auto;
}

table.weektable {
 /*display: none;*/
 margin-left:auto;
 margin-right:auto;
 width: 66%;
 /* background-color: black;*/

}

table.weektable.blackout {
 /*display: none;*/
 margin-left:2%;
 /*margin-right:auto;*/
 /*height: 66%;*/
 width: 66%;
 /* background-color: black;*/

}

table.weektable .row {
  display: none;

}

table.weektable th, .unavail {
  padding: .5%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
    border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

table.weektable .avail {
  /*background-color: #70DB70;*/
    border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-bottom: 1px solid  #ddd;
  border-right: 1px solid  #ddd;
  margin: .5%;
}


table.weektable .weekday {
  padding: 3px;
  text-align: center;
}

.weekday.lastcell {
  border-right: none;
}

.lastcell {
  border-right: none;
}

table.weektable th a {
  /*
  text-decoration: none;
  color: white;
  background-color: #ac0809;
  padding: 5px 10px;




background: #ac0809;
  background: -moz-linear-gradient(top,#ac0809 0%,#B50708 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#B50708));
  background: -webkit-linear-gradient(top,#ac0809 0%,#B50708 100%);
  background: -o-linear-gradient(top,#ac0809 0%,#B50708 100%);
  background: -ms-linear-gradient(top,#ac0809 0%,#B50708 100%);
  background: linear-gradient(top,#ac0809 0%,#B50708 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#B50708',GradientType=0);

  font-family:'Helvetica Neue',sans-serif;
  /*font-size:17px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #8A0304;

  */

}

table.weektable tr, td {

  text-align: center;
}

.linker{
	font-family:'Helvetica Neue',sans-serif;
	/*font-size:16px;*/
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color: black;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}

.linker.open {
  border: 1px solid green;
  background-color: white;
  color: green;
}

.linker.closed {
  border: 1px solid lightgray;
  background-color: white;
  color: lightgray;
}

/*.linker:hover {
  background-color: #5CB85C;
  }*/

  table.weektable .avail:hover{
    /*background-color: #5CB85C;*/
    color: lightgreen;
	border-color: lightgreen;
    border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

  .linker.open:hover{
    color: lightgreen;
	border-color: lightgreen;
  }

  #range {
    display: inline-block;
    width: auto;
    /*background-color: black;*/
  }
  #range td, th, tr {
   border: none;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 .selection {
  display:block;
  cursor:pointer;
  padding:0px;
  height:20px;
  width:90px;
  vertical-align:middle;
}

.selection_on {
  background-color:#0B0;
  margin: 1px;
}

div.right.week {
  margin-right: 35%;
  margin-top: 2%;
  clear: both;
  height: auto;
  display: inline-block;
  float: right;
}

button.firstweek {
  opacity: 0;
}

table.mondaytable {
  display: block;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  background-color: blue;
}

#mondayTitle {
 text-align: center;
  color: blue;

}

td.timeview {
  width: 20%;
  font-size: 2em;
}


td.slot {
  /*display: inline-block;*/
  width: 75%;
  background-color: red;
}



/*#numblock {
  margin-right: 40%;
  margin-top: 0%;
  clear: both;
  display: inline-block;
  float: right;
  }*/
