<form name="userForm" style="padding: 0px 50px; width:100%">
	<fieldset>
		<legend>Tell us about you:</legend>
		<div class="form-group uw-input-row">
			<label for="net-id">NetID</label>
			<input class="form-control" type="text" name="netId" required>
			<label class="help-block">
				Please enter your netId.
			</label>
		</div>
		<div class="form-group uw-input-row">
			<label for="first">First Name</label>
			<input class="form-control" type="text" name="first" required>
			<label class="help-block">
				Please enter your first name.
			</label>
		</div>
		<div class="form-group uw-input-row">
			<label for="net-id">Last Name</label>
			<input class="form-control" type="text" name="last" required>
			<label class="help-block">
				Please enter your last name.
			</label>
		</div>
		<div class="form-group uw-input-row">
			<label for="email">Email</label>
			<input class="form-control" type="email" name="email" required>
			<label class="help-block">
				Please enter a valid email.
			</label>
		</div>
		<div class="form-group uw-input-row">
			<label for="email">Phone Number</label>
			<input class="form-control" type="tel" name="tel" required>
			<label class="help-block">
				Please enter a valid phone number.
			</label>
		</div>
		<div class="form-group uw-input-row">
			<label for="email">Preferred Contact Method</label>
			<select class="form-control" name="contactPref" required>
				<option value="Email">Email</option>
				<option value="Phone">Phone Call</option>
				<option value="Text">Text</option>
			</select>
			<label ng-show="checkInvalid(userForm, userForm.contactPref)" class="help-block">
				Please select your prefered contact method.
			</label>
		</div>
		<button ng-click = "back_to_description()" class="uw-button">Back</button>
		<button type="submit" style = "float: right" class="uw-button">Continue</button>
	</fieldset>
</form>
