<form name="userForm" ng-submit="save_descrip(userForm.$valid)" novalidate style="padding: 0px 50px; width:100%">
	<fieldset>
		<legend>What's Happening?</legend>
		<div class="form-group" ng-class="{ 'has-error' :  checkInvalid(userForm, userForm.descrip)}">

			<label for="description">Please describe the issues that you are experiencing.</label>
			<textarea class="form-control" rows="5" name="descrip" ng-model="$parent.$parent.description" required></textarea>

			<label ng-show="checkInvalid(userForm, userForm.descrip)" class="help-block">
				Please enter a description.
			</label>
		</div>
	</fieldset>
	<button type="submit" class="uw-button">Continue</button>
</form>
