<div style="width: 100%;">
	<div class="module">
		<ng-include src="templateInfo()"></ng-include>
	</div>
	<div class="module" style="width:100%">
		<form name="userForm" ng-submit="login(userForm.$valid)" novalidate style="padding: 0px 50px; width:100%">
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' :  login_failed}">
					<legend ng-show="login_failed" class="help-block">
						{{ login_error }}
					</legend>
				</div>
				<div class="form-group uw-input-row" ng-class="{ 'has-error' :  checkInvalid(userForm, userForm.name)}">
					<label for="name">Username</label>
					<input class="form-control" type="text" name="name" ng-model="name" required>
					<label ng-show="checkInvalid(userForm, userForm.name)" class="help-block">
						Please enter your username.
					</label>
				</div>
				<div class="form-group uw-input-row" ng-class="{ 'has-error' :  checkInvalid(userForm, userForm.pass)}">
					<label for="pass">Password</label>
					<input class="form-control" type="password" name="pass" ng-model="pass" required>
					<label ng-show="checkInvalid(userForm, userForm.pass)" class="help-block">
						Please enter your password.
					</label>
				</div>
				<button type="submit" class="uw-button">Continue</button>
			</fieldset>


		</form>
	</div>
	<div style="padding: 20px 0px"></div>
</div>
