<form novalidate (ngSubmit)="continue()" [formGroup]="descriptionForm">
  <fieldset>

    <!-- Description Field -->
    <div class="form-group" [ngClass]="{'has-error': descriptionMessage}">
      <label for="descriptionId">Please describe the issues that you are experiencing.</label>
      <textarea class="form-control" id="descriptionId" rows="5" formControlName="description"></textarea>
      <span class="help-block" *ngIf="descriptionMessage">
        {{ descriptionMessage }}
      </span>
    </div>

    <div class="form-group">
      <span>
        <button class="btn btn-primary" type="submit" [disabled]="!descriptionForm.valid">
          Continue
        </button>
      </span>
    </div>

  </fieldset>
</form>
