<p>
  Great! You've worked through configuring git and started a new git project. Now we'll explore more into commits and start learning about branches.
</p>
<ol>
  <li>
    Before we do anything else, we should run <em>git status</em> to double check that everything that we've done has been recorded by git.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git status</li>
      </ul>
    </div>
    You should see the message below, this means that git is up to date. We'll figure out what some of the other terminology here means in a short while.
    <div class="content-box pad-box-mini border border-trbl terminal-out">
      <ul>
        <li>
          On branch master nothing to commit, working tree clean
        </li>
      </ul>
    </div>
  </li>
  <li>
    Let's open up our example.html file and modify the third line to say <em>"Git is a great tool!"</em>.
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;Hello World!&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">Git is a great tool!</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>
  <li>
    Now again, we need to tell git that we've modified this file, so first we run a <em>"git add"</em> command. <br>
    Last time we ran <em>"git add example.html"</em>, but in general, you will not want to add each file individually, it's just too slow. Instead let's get in the habit of using <em>"git add ."</em>, which adds all the files in our current directory (as well as any sub-directories).
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git add .</li>
      </ul>
    </div>
  </li>
  <li>
    Now if we run <em>"git status"</em> again, we'll see that git recognizes that example.html has been modified and is waiting for a commit.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git status</li>
      </ul>
    </div>
  </li>
  <li>
    Now let's commit our change to git.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git commit -m "updated hello world message"</li>
      </ul>
    </div>
  </li>
  <li>
    Unless you have a reason for not doing so, it is often best to just get in the habit of pushing your code at the same time as you commit (remember that a push is like uploading to a shared Google Drive folder).
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git push origin master</li>
      </ul>
    </div>
  </li>
  <li>
    Now if we run <em>"git log"</em> again, we should see two commits.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git log</li>
      </ul>
    </div>
    You're output should look something like this:
    <div class="content-box pad-box-mini border border-trbl terminal-out">
      <ul>
        <li>
          commit 91aa1d3e655a5bbc5a53aff8cc9c80bb5f48802e (HEAD -> master, origin/master)
        </li>
        <li>
          Author: bbadger@wisc.edu
        </li>
        <li>
          Date: Mon Jan 1 12:00:00 2018 -0500
        </li>
        <li>
          <br>
          <span class="indent">updated hello world message</span>
          <br>
        </li>
        <li>
          commit eeba2040c5af96e20bfaa3a4448e8810fe6a249b
        </li>
        <li>
          Author: bbadger@wisc.edu
        </li>
        <li>
          Date: Mon Jan 1 11:00:00 2018 -0500
        </li>
        <li>
          <br>
          <span class="indent">created a example.html file</span>
          <br>
        </li>
      </ul>
    </div>
  </li>

  <li>
    Now let's say that, for whatever reason, we need to roll-back our code to the way we had it in our first commit. To do this, let's grab the commit id that from our first commit (this is displayed in the output of git log).<br>
    <strong>Note:</strong> In the case above, the commit id is 'eeba2040c5af96e20bfaa3a4448e8810fe6a249b' but your commit's id will almost certainly be different, so make sure you get the commit id directly from the git log output.
  </li>

  <li>
    Once you have your first commit's id, let's go to that code by using the command <em>'git checkout'</em> followed by the commit id.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git checkout eeba2040c5af96e20bfaa3a4448e8810fe6a249b</li>
      </ul>
    </div>
  </li>

  <li>
    Now if we look at the text in example.html, line 3 has the old message so we rolled back correctly.
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;Hello World!&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">I'm doing a git tutorial!</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>

  <li>
    Congrats, you just learned how to roll-back code to a previous version! Take a minute to review what we've done so far before moving to the next step where we introduce branches.
  </li>

  <li>
    Now we are going to create a new <em>'branch'</em> for this rolled back version, we'll get more into what this means in a few steps.<br>
    <strong>Note:</strong> The <em>-b</em> tag on git checkout tells git that you want to create a new branch, in this case called <em>'new-branch'</em> (clever, I know).
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git checkout -b new-branch</li>
      </ul>
    </div>
  </li>

  <li>
    Now let's update our hello world message again, this time let's change the title to <em>"Hello Galaxy!"</em>.
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;Hello Galaxy!&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">I'm doing a git tutorial!</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>

  <li>
    Like always, we now need to add our updated files and commit our changes.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git add .</li>
        <li>git commit -m "changed title in example.html"</li>
      </ul>
    </div>
  </li>

  <li>
    Now, if we want to push our code, we must also tell git that it needs to push to the new branch rather than the original one.<br>
    Before, we executed the command <em>"git push origin master"</em> where <em>"origin"</em> refers to the github url that we saved and <em>"master"</em> refers to the branch (so our original branch is called <em>"master"</em>). To push our code to our new branch, we must exectute the command <em>"git push origin new-branch"</em>.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git push origin new-branch</li>
      </ul>
    </div>
  </li>
</ol>
<div style="overflow: hidden;">
  <button ng-click="back()" style = "float: left" class="uw-button">
    Back
  </button>
  <button ng-click="continue()" style = "float: right" class="uw-button">
    Continue
  </button>
</div>
