<p>
  We've seen how merges work in two of the three cases (auto-merge and fastforward). Now let's take a look at the last case, a merge conflict.
</p>
<ol>
  <li>
    Merge conflicts occur when the two branches have both applied updates to a specific line of code (so git does not know which one to keep).
  </li>
  <li>
    Let's recall back to when we were still learning about commits and branches.

  </li>
  <li>
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="content-box pad-box-mini border border-trbl terminal-out">
      <ul>
        <li>
        </li>
      </ul>
    </div>
  </li>

  <li>

    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;Hello Galaxy!&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">New Message</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>

</ol>
<div style="overflow: hidden;">
  <button ng-click="back()" style = "float: left" class="uw-button">
    Back
  </button>
  <button ng-click="continue()" style = "float: right" class="uw-button">
    Continue
  </button>
</div>
