<p>
  <strong>This tutorial assumes that</strong>
  <ul>
    <li>
      This tutorial assumes very basic knowledge of how to use the terminal &
      shell (commands like cd and ls).
    <li>
      This tutorial is written on Mac OSX. If you are on a Windows or linux
      machine note that some material may be different (although git/GitHub
      terminology and commands should remain consistent across operating
      systems).
    </li>
</p>
<ol>
  <li><strong>Installing Git:</strong><br>
    Installing git is as easy as openning up a terminal window and running the
    command "git --version". If git is not already installed on your machine,
    a pop-up will appear asking if you would like to install git, press <strong>
    install</strong> when prompted.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git --version</li>
      </ul>
    </div>
  </li>
  <li><strong>Signing up for GitHub:</strong><br>
    Signing up for GitHub is as easy as navigating to
    <a href="https://github.com/">GitHub's website</a> and following the
    directions on screen.<br>
    <strong>Note:</strong> GitHub offers some nice additional features for
    students, so I strongly recommend getting the
    <a href="https://education.github.com/pack">Student Developer Pack</a> after
    creating your account.
  </li>
</ol>
<div style="overflow: hidden;">
  <button ng-click="to_intro()" style = "float: left" class="uw-button">
    Back
  </button>
  <button ng-click="to_section_two()" style = "float: right" class="uw-button">
    Continue
  </button>
</div>
