<h2>What is Git?</h2>
  <p>
    Git is a <em>version control system</em>. This means that git is an extra
    tool that you can use as a developer to track changes and manage shared code
    between a group of people. Here are some examples of what Git enables you to
    do:<br>
    <ul>
      <li>You can have multiple different versions of your code
        <ul>
          <li>
            For example, you could have two copies of code: one for the last
            fully-working version of your app and a second where you develop and
            debug new features.
          </li>
        </ul>
      </li>
      <li>
        Git also allows you to roll-back to a previous version of your code if
        necessary.
        <ul>
          <li>
            Many young developers will comment out code instead of deleting it,
            for the fear that they may need to bring back the code at a later
            time. Git allows you to just delete any unneeded code and restore it
            later, if needed.
          </li>
          <li>
            You don't have to <em>cmd-z</em> countless times to get back to
            a working version of your code; just use git to reset your code back
            to the latest working version.
          </li>
        </ul>
      </li>
      <li>
        Git makes it much easier to share code between multiple people in a
        team (we'll get into how at a later time).
      </li>
    </ul>
  </p>
<h2>What is Github?</h2>
  <p>
    Github is an online service that allows you to create a <em>'remote
    repository'</em> for your team's code, think of this like a shared Google
    Drive folder, but specifically designed for code.
  </p>
<div style="overflow: hidden;">
  <button ng-click="continue()" style = "float: right" class="uw-button">
    Continue
  </button>
</div>
