<p>
  Now that we've been introduced to branches we'll look into what happens when we want to merge branches.
</p>
<ol>
  <li>
    Like always, we should run <em>git status</em> to double check that everything that we've done has been recorded by git.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git status</li>
      </ul>
    </div>
    You should see the message below, this means that git is up to date. We'll figure out what some of the other terminology here means in a short while.
    <div class="content-box pad-box-mini border border-trbl terminal-out">
      <ul>
        <li>
          On branch new-branch nothing to commit, working tree clean
        </li>
      </ul>
    </div>
    <strong>Note:</strong> we are now on new-branch instead of master, make sure that your <em>git status</em> output reflects this.
  </li>

  <li>
    Now let's create a branch called "merge-message".
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git checkout -b merge-message</li>
      </ul>
    </div>
    <strong>Note:</strong> this command creates an identical copy to the current branch, therefore if your were not on new-branch, the result would be different.
  </li>

  <li>
    Let's open up our example.html file and modify the third line again, this time let's make it say <em>"New Message"</em>.
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;Hello Galaxy!&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">New Message</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>

  <li>
    Next, we'll commit and push our changes.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git add .</li>
        <li>git commit -m "updated message in example.html to new message"</li>
        <li>git push origin merge-message</li>
      </ul>
    </div>
  </li>

  <li>
    Now we'll go back to our new-branch so that we can create another branch.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git checkout new-branch</li>
      </ul>
    </div>
    <strong>Note:</strong> there's no "-b" this time because the branch already exists.
  </li>

  <li>
    Next, let's create another branch called "merge-title".
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git checkout -b merge-title</li>
      </ul>
    </div>
  </li>

  <li>
    This time in our example.html file, we'll change the title in line 1 to <em>"New Title"</em>.
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;New Title&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">I'm doing a git tutorial!</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>

  <li>
    Next, commit and push our changes.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git add .</li>
        <li>git commit -m "updated title in example.html to new title"</li>
        <li>git push origin merge-title</li>
      </ul>
    </div>
  </li>

  <li>
    So far we've created two new branches, merge-message and merge-title with different changes in each. Next, we'll see what happens when we want to combine these changes back into one branch.
  </li>

  <li>
    Now let's run git status to double check that we are on the merge-title branch.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git status</li>
      </ul>
    </div>
    <div class="content-box pad-box-mini border border-trbl terminal-out">
      <ul>
        <li>
          On branch merge-title nothing to commit, working tree clean
        </li>
      </ul>
    </div>
  </li>

  <li>
    Now we will merge our merge-message and merge-title branches together. To do so we will use the <em>git merge</em> command.<br>
    We are currently in the merge-title branch so running "git merge merge-message" combines merge-title and merge-message and stores the result of the merge in the current branch (merge-title).
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git merge merge-message -m "merging merge-message into merge-title"</li>
      </ul>
    </div>
    <strong>Note:</strong> By default, merging automatically makes a commit as well, because of this we specify the -m field to provide a commit message
  </li>

  <li>
    Now if we open up our example.html file, we should see both the new title and the new message!
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;New Title&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">New Message</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>

  <li>
    <strong>This step is optional:</strong> Now that we merged merge-message into merge-title, we may want to delete the merge-message branch as a way of cleaning up our repo (all of the information from merge-message is now in merge-title, so this would not be harmful). To do this we can use <em>git branch</em> with a <em>"-d"</em> tag (for delete).
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git branch merge-message -d</li>
      </ul>
    </div>
  </li>

  <li>
    There are three different types of merges that can occur:
    <ol>
      <li>Auto-Merge</li>
      <li>Fastforward Merge</li>
      <li>Merge Conflict (merge failure)</li>
    </ol>
    The example that we just looked at was an auto-merge (because git merged the two different versions of example.html automatically).
  </li>

  <li>
    Now let's go back to new-branch and then merge merge-title into new-branch
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git checkout new-branch</li>
        <li>git merge merge-title</li>
      </ul>
    </div>
  </li>

  <li>
    This caused a <em>Fastforward Merge</em> because we have not done anything on new-branch since we created merge-title (hence the merged code should be exactly the same as merge-title). Let's open up example.html to double check this.
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;New Title&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">New Message</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>

  <li>
    <strong>This step is optional:</strong> Again, we can delete the old branch, if we want to, at this point.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git branch merge-title -d</li>
      </ul>
    </div>
  </li>

  <li>
    In the next section will look at the third kind of merge, <em>Merge Conflicts</em>.
  </li>

</ol>
<div style="overflow: hidden;">
  <button ng-click="back()" style = "float: left" class="uw-button">
    Back
  </button>
  <button ng-click="continue()" style = "float: right" class="uw-button">
    Continue
  </button>
</div>
