<p>
  Now that you know a little about what Git & GitHub are, let's see how they look in action!<br>
</p>
<h2>
  Part 1: Configuring Git
</h2>
<p>
  The first thing that we'll do is setup git on your computer, this only has to be done once when you first install git.
</p>
<ol>
  <li>
    We need to start off by telling git who you are. To do so execute the following commands in the terminal, replacing "bucky badger" with your first and last name, and "bbadger@wisc.edu" with the email that you used to create your GitHub account.<br>
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git config --global user.name <em>bucky badger</em></li>
        <li>git config --global user.email <em>bbadger@wisc.edu</em></li>
      </ul>
    </div>
  </li>
  <li>
    <strong>This step is optional:</strong><br>
    Next, you may want to save your GitHub email and password to your computer, to do so execute <em>"git config --global credential.helper store"</em>.
    <strong>Note:</strong>This tells git that you would like to save your GitHub credentials the next time you use them, but it will not prompt you for the credentials. You will still have to enter in your GitHub credentials once.<br>
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git config --global credential.helper store</li>
      </ul>
    </div>
  </li>
  <li>
    And that's it! You've successfully configured git on your computer.
</ol>
<h2>
  Part 2: Creating a Git Repository
</h2>
<p>
  Next, we want to create a git repository (or repo). A git repo is just a folder that we will use for a git project.
</p>
<ol>
  <li>
    In the terminal, create a new folder called <em>git-tutorial/</em> and navigate into it.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>mkdir git-tutorial</li>
        <li>cd git-tutorial</li>
      </ul>
    </div>
  </li>
  <li>
    Within the <em>git-tutorial/</em> folder, use <em>git init</em> to create a git repository.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git init</li>
      </ul>
    </div>
  </li>
  <li>
    You should receive a message that says you have initialized an empty repository in the git-tutorial folder.
  </li>
</ol>
<h2>
  Part 3: Creating a GitHub Repository & Linking it to our Git Repository
</h2>
<p>
  After creating a git repo, we will want to create a GitHub repo. A GitHub repo is just a online version of our git repo that we can use to backup and share our code.
</p>
<ol>
  <li>
    Log in to <a href="https://github.com">GitHub</a>
  </li>
  <li>
    Click on the button to <strong>Create a New Repository</strong>.
  </li>
  <li>
    On the next page, give your repository a name, mark it as private, then hit <strong>Create Repository</strong>.<br>
    <img src="assets/img/tutorials/git/github-repo.png" alt="GitHub Repo"><br>
    <strong>Note:</strong> Creating a public repository allows anyone be able to find your code. This is ok many cases, but for now we will just make a private repo (you can delete it after this tutorial if you want).
  </li>
  <li>
    GitHub will now bring you to your repository's webpage, copy down the URL for the page, you will need this in the next step.<br>
    <img src="assets/img/tutorials/git/github-url.png" alt="GitHub URL"><br>
  </li>
  <li>
    Now we need to tell our git repo that the GitHub repo exists, to do that we will go back to the terminal and use the <em>git remote add</em> command as seen below. Replace the url in the example with the url that you copied down in the last step.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>
          git remote add origin https://github.com/buckybadger/git-tutorial
        </li>
      </ul>
    </div>
    <strong>Note:</strong>This command gives your github url the shortened name of origin (you can name it whatever you want by replacing "origin" in the above code) for ease of use.
  </li>
</ol>
<h2>
  Part 4: Making your First Commit.
</h2>
<p>
  Now that your repo is all set up we will want to make an initial <em>commit</em>. A <em>commit</em> is the process of saving your code to a git repository. <br>
  <strong>Note:</strong> Just like you should save a file often while working on it, you should commit your code often as well.
</p>
<ol>
  <li>
    Within the <em>git-tutorial/</em> folder, create a file called <em>example.html</em>.
  </li>
  <li>
    Open up example.html and copy in the following code:<br>
    <div class="tab">example.html</div>
    <div class="content-box pad-box-mini border border-trbl code">
      <ol>
        <li>&lt;h2&gt;Hello World!&lt;/h2&gt;</li>
        <li>&lt;p&gt;</li>
        <li><span class="indent">I'm doing a git tutorial!</span></li>
        <li>&lt;/p&gt;</li>
      </ol>
    </div>
  </li>
  <li>
    Save the file and navigate back to the <em>git-tutorial/</em> folder in the terminal.
  </li>
  <li>
    Next, we will add the <em>example.html</em> file to our git repository. This tells git that it should track this file.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git add example.html</li>
      </ul>
    </div>
  </li>
  <li>
    Now we can use the <em>git commit</em> command to create a commit.
    <strong>Note:</strong> The <em>-m</em> flag allows you to create a message describing what you did since the last commit in quotations, you should do this on every commit!<br>
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git commit -m "created a example.html file"</li>
      </ul>
    </div>
  </li>
  <li>
    We can verify that the commit was successful by using the <em>git log</em> command, which shows us a log of all the previous commits.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git log</li>
      </ul>
    </div>
    You should see a few lines which say the commit id (a long string of characters), the author of the commit (you), the date of the commit (today), and the message that you added to the commit.
    <div class="content-box pad-box-mini border border-trbl terminal-out">
      <ul>
        <li>
          commit eeba2040c5af96e20bfaa3a4448e8810fe6a249b (HEAD -> master)
        </li>
        <li>
          Author: bbadger@wisc.edu
        </li>
        <li>
          Date: Mon Jan 1 11:00:00 2018 -0500
        </li>
        <li>
          <br>
          <span class="indent">created a example.html file</span>
          <br>
        </li>
      </ul>
    </div>
    <strong>Note:</strong> If the output text is too large to fit in your terminal window you will need to type "Q" to exit.
  </li>
  <li>
    After we commit our code to our git repo, we should upload it to our GitHub repo. This can be done through a command called <em>git push</em>, as seen below.
    <div class="content-box pad-box-mini border border-trbl terminal">
      <ul>
        <li>git push origin master</li>
      </ul>
    </div>
    <strong>Note:</strong> Here we are specifying "origin" as the source, if you decided to name your github url something different, you will need to change "origin" to the name you created.
  </li>
  <li>
    Refresh your GitHub repository page and you should see your uploaded code!
  </li>
</ol>
<div style="overflow: hidden;">
  <button ng-click="back()" style = "float: left" class="uw-button">
    Back
  </button>
  <button ng-click="continue()" style = "float: right" class="uw-button">
    Continue
  </button>
</div>
