<!-- main content -->
<main id="main" ng-controller="schedController" style="width:100%">
  <!-- body copy -->
  <div class="uw-row-full uw-pad-tb-l">
	<div class="uw-row">
	  <div class="uw-col uw-body">
		  <table style="margin:auto;width: 85%;">
				<thead>
					<tr>
	  				  <td class="cell title" ng-repeat="name in cols">{{name}}</td>
	  			  	</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in cells track by $index">
						<td class="cell title">{{row.time}}</td>
						<td class="cell time" ng-repeat="item in row"><button class="linker open" ng-click="book_appt()">{{ item.name }}</button></td>
					</tr>
				</tbody>
		  </table>
	  </div>
	</div>
  </div>
</main>
