<div style="width: 100%;">
	<div class="module">
		<h2 class="uw-mini-bar">Applesauce Tutorials</h2>
		<p>These tutorials are created for the training of developers 
			working on the <a href="applesauce.doit.wisc.edu">Applesauce Website</a>.
			<br><br>
			While some the tutorial content is specific to the context of an
			Applesauce developer, most of the material would be suitable for anyone
			who would like to know more about the topics they cover. This material is
			intentially left public so that anyone can benefit from the information.
	</div>
	<div class="module" style="width:100%" ng-if="!no_form">
		<ng-include src="templateForm()"></ng-include>
	</div>
	<div style="padding: 20px 0px"></div>
</div>
